
<footer>
  <hr>
  &copy;2019 <br/>
  Disclaimer: Information in this page may be accurate. Please do research on your own
  with the sources provided. NASA webpages are free thankfully.

</footer>
<!-- closing body -->
</body>
</html>