<% include partials/header.ejs %>

  <h1> Earth</h1>
  <br /><br />
  <div class="row flex-fill nav">
    <nav>
      <a href="/"> Home </a>
      <a href="/mercury">Mercury </a>
      <a href="/venus"> Venus </a>
      <a href="/earth">Earth </a>
      <a href="/mars"> Mars </a>
    </nav>
  </div>
  <hr>
  <iframe class="center-block" src="https://solarsystem.nasa.gov/gltf_embed/2393" width="75%" height="450px" frameborder="0"></iframe>
<br><p>Please click the graphic below to zoom in or out!</p>
  <p>
    Published: April 22, 2019 A 3D model of Earth</p>
  <a href="https://solarsystem.nasa.gov/resources/2393/earth-3d-model/">Source: NASA Visualization Technology Applications and Development (VTAD)</a>
<div class="row flex-fill">
    <div style="width:75%" class="center-block">
      <p class="text-center">Earth is the third rock from the sun. Also the planet we all live in. It is the only planet
      that we know supports life. It is able to do this because it exists in the Goldilocks zone, an area a certain distance
        from the sun with the ability to form life.It is also the only planet where water exists in three states of matter. Life forms on this
      planet are usually carbon based. Water is so useful that all life needs it in order to function. 
      You can click and drag on the image to see the planets in detail.</p>
    </div>
  </div>
  <% include partials/footer.ejs %>