<% include partials/header.ejs %>
  <h1> Solar System Resource Center </h1>
  <p>
    Click on a planet to learn more
  </p>
    <nav>
       <a href="/"> Home </a>  <br>
       <a href="/mercury">Mercury </a> <br>
       <a href="/venus"> Venus </a> <br>
       <a href="/earth">Earth </a> <br>
       <a href="/jupiter"> Mars </a> <br>
    </nav> 

  <img src="/img/solarSystem.jpg"  alt="planets" > <br>
  Image by <a href="https://pixabay.com/users/WikiImages-1897/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=11188">WikiImages</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=11188">Pixabay</a>
<% include partials/footer.ejs %>
 