<% include partials/header.ejs %>
  <h1> Solar System Resource Center </h1>
  <p font-family: Comic Sans MS, cursive, sans-serif;>
    Click on a link below to learn about the first four planets of our Solar System!
  </p>
  <div class="row flex-fill nav">
    <nav>
      <a href="/"> Home </a>
      <a href="/mercury">Mercury </a>
      <a href="/venus"> Venus </a>
      <a href="/earth">Earth </a>
      <a href="/mars"> Mars </a>
    </nav>
  </div>
  <hr>
  <img src="/img/solarSystem.jpg" class="center-block img-responsive" alt="planets"> <br> Image by <a href="https://pixabay.com/users/WikiImages-1897/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=11188">WikiImages</a>  from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=11188">Pixabay</a>
  <br><br>
  <div class="row flex-fill">
    <div style="width:75%" class="center-block">
      <p class="text-center">Our Solar System is part of a series of suns and planetary systems in our galaxy. 
        The galaxy our solar system is located in is called the Milky Way. This picture is an example of what 
        is our there in the Universe which is the formation of a solar
        system surrounding a star. I think this is a great image to start the index page off. </p>
    </div>
  </div>
  <% include partials/footer.ejs %>