<% include partials/header.ejs %>
  <h1> Solar System Resource Center </h1>
  <p>
    Click on a planet to learn more
  </p>
  <a href="/mercury"> Mercury Web Page</a> <br>
  <a href="/venus"> Venus Web Page</a><br>

  <img src="/img/solarSystem.jpg"  > <br>
  Image by <a href="https://pixabay.com/users/WikiImages-1897/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=11188">WikiImages</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=11188">Pixabay</a>
<% include partials/footer.ejs %>
 