<% include partials/header.ejs %>

  <h1> Mars</h1>
  <br /><br />
  <div class="row flex-fill nav">
    <nav>
      <a href="/"> Home </a>
      <a href="/mercury">Mercury </a>
      <a href="/venus"> Venus </a>
      <a href="/earth">Earth </a>
      <a href="/mars"> Mars </a>
    </nav>
  </div>
  <hr>
  <iframe class="center-block" src="https://solarsystem.nasa.gov/gltf_embed/2372" width="75%" height="450px" frameborder="0"></iframe>
<br><p>Please click the graphic below to zoom in or out!</p>
  <p>
    Published: April 22, 2019 A 3D model of Mars</p>
  <a href="https://solarsystem.nasa.gov/resources/2372/mars-3d-model/">Source: NASA Visualization Technology Applications and Development (VTAD)</a>
<div class="row flex-fill">
    <div style="width:75%" class="center-block">
      <p class="text-center">Mars is the fourth planet from the sun. It is also the furthest planet that can be considered
        in the inner circle of planets in our solar system. The largest volcano in our solar system is located here called
        Olympus Mons. In addition, Mars has two moons called Deimos and Phobos, which are more like asteroids than actual
        moons. You can click and drag on the image to see the planets in detail.</p>
    </div>
  </div>
  <% include partials/footer.ejs %>