<% include partials/header.ejs %>
  <h1> Mercury</h1>
  <br /><br />
  <div class="row flex-fill nav">
    <nav>
      <a href="/"> Home </a>
      <a href="/mercury">Mercury </a>
      <a href="/venus"> Venus </a>
      <a href="/earth">Earth </a>
      <a href="/mars"> Mars </a>
    </nav>
  </div>
  <hr>
  <iframe class="center-block" src="https://solarsystem.nasa.gov/gltf_embed/2369" width="75%" height="450px" frameborder="0"></iframe>
  <br><p>Please click the graphic below to zoom in or out!</p>
  <p>
    Published: April 22, 2019 A 3D model of Mercury, the innermost planet.</p>
  <a href="https://solarsystem.nasa.gov/resources/2369/mercury-3d-model/">Source: NASA Visualization Technology Applications and Development (VTAD)</a>
<div class="row flex-fill">
    <div style="width:75%" class="center-block">
      <p class="text-center">Mercury is the first planet closest to the sun. Because of its proximity
      to the sun, it can get really hot during the day. At night the surface away from the sun is really
      cold. The extreme in temperature would make it a quite unpleasant place to visit. </p>
    </div>
  </div>

  <% include partials/footer.ejs %>