html,
body {
  background-color: lightgray;
  width: 100%;
  height: 100%;
  text-align: center;
}

p {
  color: black;
}

nav,
footer {
  text-align: center;
}

footer {
  text-color: black;
}

nav a {
  /* Take from lab 1 */
  padding: 15px;
  padding-bottom: 4px;
  font-size: 3em;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  /* removes underline */
  color: black;
}

nav a:hover {
  /* pseudo class*/
  border-bottom: 2px gold solid;
  font-size: 2em;
  background-color:lightgray;
  transition: .9s;
  /*transition effect */
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000099;
  font-size: 4em;
  margin-bottom: 0px
}