/*Source of CSS from CST 336 Summer 2019 class. Previous Labs/HWs I did.
W3 Schools. https://www.w3schools.com/
The Bootstrap page that was linked to us. https://getbootstrap.com/docs/3.3/getting-started/
And of course our Instructor and TA who are very helpful in this course!
*/

html,
body {
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

p {
  color: black;
}

footer {
  text-color: black;
}

nav a {
  /* Take from lab 1 */
  padding: 15px;  !important
  padding-bottom: 4px;  !important
  font-size: 3em; !important
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  /* removes underline */
  text-color: black;  !important
}

nav a:hover {
  /* pseudo class*/
  font-size: 2em;
  background-color:lightgray; !important
  transition: .9s;  !important
  /*transition effect */
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000099;
  font-size: 4em;
  margin-bottom: 0px
}